@import "~bootstrap/scss/bootstrap"; /* stylelint-disable-line  import-notation */

$btn-primary-color: #80A;
$btn-primary-color-hover: #608;

/* stylelint-disable selector-class-pattern */
.btn-primary {
  background-color: $btn-primary-color;
  border-color: $btn-primary-color;
}

.btn-primary:hover {
  background-color: $btn-primary-color-hover;
  border-color: $btn-primary-color-hover;
}
/* stylelint-enable selector-class-pattern */

.nav-pills .nav-link.active {
  background-color: $btn-primary-color;
  border-color: $btn-primary-color;
}
